<div class="container">
    <div class="row">
      <div class="col-4 border">
        <div class="card">
          <img class="card-img-top" src="#" alt="Portrait of Parth">
          <div class="card-body">
            <h4 class="card-title">Parth Shreyash Patel</h4>
          </div>
        </div>
      </div>
      <div class="col border">

      </div>
    </div>
  </div>